.tarjeta {
    color: white;
    background-color: #186088;
    border: 2px solid #80AEC4;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    margin: auto;
    padding: 1em 0;
}
.element{
    padding: 1em;
}
.tarjeta img{
    align-items: center;
    width: 20%;
    height: auto;
    background-color: black;
    border-radius: 50px;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #186088;
    border: solid #80AEC4 2px;
    border-radius: 10px;
}
button:hover{
    color: black;
    background-color: #80AEC4;
}
