.margen{
    margin:1rem;
}
.medio{
    width: 50%;
    background-color: #ffc107!important;
}
.bajo{
    width: 25%;
    background-color: #fd7e14!important;
}
.alto{
    background-color: #20c997!important;
    width: 75%;
}