<form [formGroup]="form" class="container text-center">
    <h2>Ingrese o actualice su informacion</h2>
    <div class="container justify-content-center row">
        <div class="col-xl-8 col-lg-8 col-md-6">
            <div class="card text-bg-primary mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="../../../assets/imagenes/proyecto.png" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <label class="col-6" for="nombre">Nombre del Proyecto </label>
                            <input type="text" id="nombre" formControlName="nombre">
                            <label class="col-12" for="periodoI">Descripcion del proyecto</label>
                            <textarea class="col-12" type="text" id="descripcion"
                                formControlName="descripcion"></textarea>
                            <label class="col-6" for="pruebas">pruebas(enlace)</label>
                            <input type="text" id="pruebas" formControlName="pruebas">
                            <label class="col-12" for="periodoI">Periodo</label>
                            <input class="col-3" type="number" id="periodoI" formControlName="periodo_i">
                            <input class="col-3" type="number" id="periodoF" formControlName="periodo_f">
                            <br>
                            <button type="button" class="btn btn-success btn-sm" (click)="guardar()">Guardar</button>
                            <button type="button" class="btn btn-danger btn-sm" (click)="irA()">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>