<form [formGroup]="form" class="tarjeta">
    
        <h3>Proyecto</h3>
        <div class="element">
            <label for="icono">Logo del Proyecto</label>
            <br>
            <input type="file" id="icono">
        </div>
        <div class="element">
            <label for="puesto">Nombre del Proyecto</label>
            <br>
            <input type="text" id="puesto" autocomplete="off" formControlName="proyecto">
        </div>
        <div>
            <label for="puesto">Enlace de evidencia</label>
            <br>
            <input type="url" id="puesto" autocomplete="off" formControlName="enlace">
        </div>
        <div class="element">
            <label for="descripcion">Descripcion de proyecto</label>
            <br>
            <textarea autocomplete="off" placeholder="Descripcion de actividades" maxlength="255" formControlName="descripcion"></textarea>
        </div>
        <div class="element">
            <label for="PI">Periodo</label>
            <div class="double-element">
                <input id="PI" type="number" max="2023" min="1920" formControlName="PI">
                <span> a </span>
                <input type="number" max="2023" min="1920" formControlName="PF">
            </div>
        </div>
        <button type="button" (click)="preparar()">Guardar</button>
</form>
