<div class="contenedor">
  <h3>Experiencia</h3>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      +
    </button>
    <form onsubmit = "addNewCard"  class="dropdown-menu">
      <input type="file">
      <input type="text" id="cargo" placeholder="Cargo">
      <input type="text" id="lugar" placeholder="Lugar">
      <input type="text" id="periodo" placeholder="Periodo">
      <textarea id="descripcion" placeholder="Descripcion del cargo"></textarea>
      <input type="submit">
    </form>
  </div>
  <div id="container">
    <ul style="list-style:none">
      <li *ngFor="let exp of listaExp">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span>{{exp.puesto}} - {{exp.lugar}}</span></h5>
                <p class="card-text"><span>{{exp.descripcion}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </div>
  
</div>