.cabecera {
  display: flex;
  justify-content: center;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  max-height: 400px;
}

.habilidad {
  width: 200px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circular-progress {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: progreso 5s linear infinite;
  animation-delay: 10s;
}

@keyframes progreso {
  from{rotate: 0deg;}to{rotate: 360deg;}
}

.principiante {
  background: conic-gradient(#186088 0deg,#DBF0F8 45deg,  red 180deg, #186088 180deg ,#DBF0F8 270deg,  red 360deg);
}

.intermedio {
  background: conic-gradient(#186088 0deg,#DBF0F8 45deg,  orange 180deg, #186088 180deg ,#DBF0F8 270deg,  orange 360deg);
}

.avanzado {
  background: conic-gradient(#186088 0deg,#DBF0F8 45deg,  yellow 180deg, #186088 180deg ,#DBF0F8 270deg,  yellow 360deg);

}
.experto {
  background: conic-gradient(#186088 0deg,#DBF0F8 45deg,  greenyellow 180deg, #186088 180deg ,#DBF0F8 270deg,  greenyellow 360deg);
}

.circular-progress::before {
  content: "";
  position: absolute;
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: #186088;
}

.progress-value {
  animation: progreso 5s linear infinite reverse;
  animation-delay: 10s;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: whitesmoke;
}

.text {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  font-weight: 400;
  color: whitesmoke;
}

button {
  height: 2em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #186088;
  border: solid #80AEC4 2px;
  border-radius: 10px;
  margin: 0 0.5em;
}

button:hover {
  color: black;
  background-color: #80AEC4;
}

.options {
  display: flex;
  justify-content: center;
}

.ventana {
  position: fixed;
  z-index: 999;
  background-color: #383838cc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
}

.ventana .formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}

.ventana .cerrar {
  float: right;
  margin-right: 10px;
}

@media (max-width:500px){

  .skill-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .habilidad {
    margin: 5px;
    width: 200px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    border-bottom: #DBF0F8 solid 1px;
  }
  
  .circular-progress {
    position: relative;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: progreso 5s linear infinite;
    animation-delay: 10s;
  }

  .circular-progress::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #186088;
  }
  
  .progress-value {
    animation: progreso 5s linear infinite reverse;
    animation-delay: 10s;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: whitesmoke;
  }
  
  .text {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    color: whitesmoke;
  }
  button {
    font-size: 10px;
}

.options {
    display: flex;
    justify-content: center;
}

}