nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #186088;
}
p{
    overflow: hidden;
    color: whitesmoke;
    margin: 0;
    font-size: 1em;
}

button{
    background-color: #186088;
    border: solid 2px  #DBF0F8;
    border-radius: 10px;
    color: whitesmoke;
}
button:hover{
    background-color: #DBF0F8;
}
@media (max-width:500px){
    p{
        display: none;
    }
}