<div class="cabecera">
  <h2 style="color: whitesmoke;"> Proyectos </h2>
  <button (click)="openForm()" *ngIf="this.bLog">+</button>
</div>
<!-- <div class="container">
  <div class="box">
    <div class="titulo">
      <span>Portfolio Web</span>
      <p><small>2020 - 2022</small></p>
    </div>
    <div class="descripcion">
      <p> Desarrollo de un portfolio web con las tecnologias estudiadas en el curso
        #Argentina Programa 2022.
      </p>
      <a href="https://www.google.com/webhp?hl=es&sa=X&ved=0ahUKEwjx-NbkjYCAAxXrIbkGHVsCCUwQPAgI"> Enlace</a>
      <div class="options" *ngIf="this.bLog">
        <button>Editar</button>
        <button>Eliminar</button>
      </div>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="box"  *ngFor="let item of pjList">
    <div class="titulo">
      <span>{{item.proyecto}}</span>
      <p><small>{{item.fechaI}} - {{item.fechaF}}</small></p>
    </div>
    <div class="descripcion">
      <p>{{item.descripcion}}</p>
      <a href="{{item.enlace}}"> Enlace</a>
      <div class="options" *ngIf="this.bLog">
        <button (click)="openEditForm(item)">Editar</button>
        <button (click)="deleteItem(item.idPj!)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="this.bForms" class="ventana">
  <button class="cerrar" (click)="cerrar()">X</button>
  <div class="formulario">
    <app-pj-form [selectedPj]="selectedPj"></app-pj-form>
  </div>
</div>