<header>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/imagenes/APLogo-20-20.png" alt="logo" width="80" height="50" class="d-inline-block"> 
        </a>
        <div class="btn-group dropstart">
          <button type="button" class="btn btn-primary" data-bs-toggle="dropdown-menu" aria-expanded="false">
            =
          </button>
          <ul class="dropdown-menu" style="background-color:whitesmoke;">
            <div id="logueo">
              <form action="" style="display:block">
                <label for="user"> Usuario: </label>
                <input id="user" type="text" name="user">
                <label for="password"> Contraseña: </label>
                <input id="password" type="password" name="password">
                <button id="Login" type="button" class="btn btn-primary" onclick="loguear()"> Login </button>
              </form>
            </div>
          </ul>
        </div>
      </div>
    </nav>
    <img src="../../../assets/imagenes/Banner.png" class="Banner" alt="Banner">
    <section class="contenedor">
      <div class="perfil">
        <img src="../../../assets/imagenes/perfil.jpg" alt="foto de perfil">
        <h5>Barconte Miguel Alejandro <br> Tecnico Superior en Desarrollo de Software</h5>
      </div>
      <h2>Tecnico en Desarrollo de Software - Full stack developer junior</h2>
      <p> Graduado del instituto de educacion superior " Nuevo Horizonte " y certificado por el plan Nacional
        de Argentina programa #YoProgramo.
      </p>
    </section>
  </header>