<header>
  <nav class="navbar navbar-dark bg-primary">
    <div class="row">
      <div class="col-xl-8 col-md-9 col-sm-12">
        <a class="navbar-brand" href="#">
          <img src="../../../assets/imagenes/APLogo-20-20.png" alt="" width="40" height="30"
            class="d-inline-block align-text-top">
          Argentina Programa #YoProgramo
        </a>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-6">
        <a>
          <img src="../../../assets/imagenes/facebook_logo.png" alt="" width="40" height="30"
            class="d-inline-block align-text-top">
        </a>
        <a>
          <img src="../../../assets/imagenes/whatsapp_logo.png" alt="" width="40" height="30"
            class="d-inline-block align-text-top">
        </a>
      </div>
      <div class="col-xl-2 col-md-3 col-sm-6">
        <div class="btn-group dropstart">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Dropstart
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
            <li><a class="dropdown-item" href="#">Menu item</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <img src="../../../assets/imagenes/Banner.png" class="Banner" alt="Banner">
  <section class="contenedor">
    <div class="perfil">
      <img src="../../../assets/imagenes/perfil.jpg" alt="foto de perfil">
      <h5>Barconte Miguel Alejandro <br> Tecnico Superior en Desarrollo de Software</h5>
    </div>
    <h2>Tecnico en Desarrollo de Software - Full stack developer junior</h2>
    <p> Graduado del instituto de educacion superior " Nuevo Horizonte " y certificado por el plan Nacional
      de Argentina programa #YoProgramo.
    </p>
  </section>
</header>