.tarjeta {
    color: white;
    background-color: #186088;
    border: 2px solid #80AEC4;
    border-radius: 25px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 30vw;
    padding: 5px 0;
}

.element {
    margin: auto;
    padding: 5px 0;
    width: 80%;
    overflow: hidden;
}

.element input{
    width: 100%;
}

.element textarea{
    width: 100%;
}


.double-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #186088;
    border: solid #80AEC4 2px;
    border-radius: 10px;
}

button:hover {
    color: black;
    background-color: #80AEC4;
}

@media (max-width:800px){
    .tarjeta {
        width: 50vw;
    }
    
    .element {
        width: 90%;
        overflow: hidden;
    }
    
}
@media (max-width:500px){
    .tarjeta {
        width: 90vw;
    }
    
    .element {
        width: 90%;
    }
    
}