
<!-- <div class="contenedor">
  <img class="banner" src="../../../assets/Imagenes/banner.jpg">
  <div class="perfil">
    <img src="../../../assets/Imagenes/perfil.jpg" alt="foto de perfil" class="foto-perfil">
    <div class="presentacion">
      <h2>¡ Hola :D !</h2>
      <h2>Soy Miguel Alejandro Barconte</h2>
      <h2>Full stack developer jr.</h2>
      <div>
        <button (click)="openForm()" *ngIf="this.bLog">Editar</button>
      </div>
    </div>
  </div>
  <div class="aboutMe">
    <h4> Acerca de mi </h4>
    <p>Joven con conocimiento en html, css, java, angular, analisis y diseño de sistema, base de datos ,ofimatica
      tengo habre de victori, lucha dicha y gloria el rap fue mi bendicion!
      Loremiopdfasfdsafod savoinsvoinoisnidvnsavoi oivnsadvndnvoi aoid oioivd oidna io doiaoiv
      hasta aqui
    </p>
  </div>
</div> -->
<div class="contenedor">
  <img class="banner" src="{{perfil.dirBanner}}">
  <div class="perfil">
    <img src="{{perfil.dirFoto}}" alt="foto de perfil" class="foto-perfil">
    <div class="presentacion">
      <h2>Hola, soy</h2>
      <h2>{{perfil.nombre}}</h2>
      <h2>{{perfil.titulo}}</h2>
      <div *ngIf="this.bLog">
        <button (click)="openForm()">Editar</button>
      </div>
    </div>
  </div>
  <div class="aboutMe">
    <h4> Acerca de mi </h4>
    <p>{{perfil.aboutMe}}
    </p>
  </div>
</div>
<div *ngIf="this.bForms" class="ventana">
  <button class="cerrar" (click)="cerrar()">X</button>
  <div class="formulario">
    <app-perfil-form [perfil]="perfil"></app-perfil-form>
  </div>
</div>
