<div class="seccion">
    <h2>Proyectos</h2>
    <div class="container text-center row">
      <div class="col-xl-6 col-md-6 col-sm-12"  *ngFor="let exp of listaExp">
        <ul style="list-style:none">
        <li>
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4 col-sm-3">
                <img src="../../../assets/imagenes/proyecto.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8 col-sm-9">
                <div class="card-body">
                  <h5 class="card-title"><span>{{exp.puesto}} - {{exp.lugar}}</span></h5>
                  <p class="card-text"><span>{{exp.descripcion}}</span></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </div>