.cabecera {
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
}

.box {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    color: white;
    border: 2px solid #dbf0f8b6;
    border-radius: 10px;
    padding: 1ex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}

.logo {
    background-color: whitesmoke;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.informacion {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.insti {
    font-size: 18px;
    width: 100%;
    font-weight: 600;
}

.titulo {
    font-size: 18px;
    width: 80%;
    font-weight: 500;
}

.periodo {
    font-size: 13px;
    width: 80%;
    font-weight: 200;
    color: whitesmoke;
}

button {
    height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #186088;
    border: solid #80AEC4 2px;
    border-radius: 10px;
    font-weight: 400;
}

button:hover {
    color: black;
    background-color: #80AEC4;
}

.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.ventana {
    position: fixed;
    z-index: 999;
    background-color: #383838cc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.ventana .formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.ventana .cerrar {
    float: right;
    margin-right: 10px;
}

@media (max-width:800px) {
    .box {
        flex-flow: column nowrap;
        width: 45%;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .insti {
        font-size: 15px;
    }

    .titulo {
        font-size: 15px;
    }

    .periodo {
        font-size: 12px;
    }

    button {
        font-size: 12px;
    }
}

@media (max-width:500px) {
    .box {
        width: 90%;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .insti {
        font-size: 12px;
        width: 80%;
    }

    .titulo {
        font-size: 12px;
    }

    .periodo {
        font-size: 10px;
    }

    button {
        font-size: 10px;
        font-weight: 400;
    }
}